.movie_info {
    border-bottom: 3px solid rgb(128, 128, 128, 0.4);
    padding: 30px 30px;
    /* margin-bottom: 20px; */
    display: flex;
}
.poster {
    width: 250px;
    height: 400px;
}
.items_info {
    margin-left: 50px;
}
.item_text,
.genres_text {
    padding: 10px;
}
.genres_text {
    list-style: inside;
}
.item_title {
    /* margin-top: 15px; */
}
.aditional {
    border-bottom: 3px solid rgb(128, 128, 128, 0.4);
    padding: 20px 50px;
}
.aditional_items {
    list-style: decimal;
}
.aditional_item {
    list-style: inside;
    padding: 5px 10px;
}
