.linked {
    text-decoration: none;
    color: black;
}
.linked:hover {
    cursor: pointer;
    color: blue;
}
/* .linked:visited {
    color: black;
} */
/* .linked:focus {
    color: tomato;
} */
.active {
    color: red;
}

.layout_items {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid gray;
    list-style: none;
}
.layout_item {
    padding: 0px 20px;
}
.active {
    color: yellow;
}
